[2015-07-17 11:42] stevemao opened #1 "more tests!!!"
dig out all previous commits and add a test for each.

[2015-07-22 05:13] #1 closed

[2015-07-22 21:35] eddiemonge opened #2 "Chore items shouldn't be shown"
as an example: https://github.com/stevemao/conventional-github-releaser/releases/tag/v0.1.0

Or if they are shown, they should have their own section.

[2015-07-22 21:36] eddiemonge opened #3 "Scopes for token"
What scopes are needed for the token? this should be included in the docs probably.

[2015-07-22 23:03] stevemao commented on #2
The body is empty so I think it automatically shows the message the tag is on

[2015-07-22 23:05] stevemao commented on #3
Ref: https://developer.github.com/v3/oauth/#scopes

[2015-07-23 00:07] #3 closed

[2015-07-24 09:15] #2 closed

[2015-10-26 18:40] eddiemonge opened #5 "Push fails if tag exists"
This seems to fail because it tries to do a post instead of a patch if a tag already exists.

[2015-10-26 21:25] stevemao commented on #5
If the tag doesn't exist it cannot make a GitHub release on that tag. How can I replicate this?
https://github.com/stevemao/grunt-conventional-github-releaser/blob/master/Gruntfile.js#L156-L157
It must bump first then release. Also see https://gist.github.com/stevemao/280ef22ee861323993a0#file-np-sh-L26-L27

[2015-10-26 21:54] eddiemonge commented on #5
Sorry, didn't mean tag. Meant release.

[2015-10-26 22:07] stevemao commented on #5
Yeah, this is by design. I don't want to overwrite a release if already exists. People might have their releases before using this module. They have to remove them if they want to overwrite the releases.

[2015-10-27 18:30] eddiemonge commented on #5
maybe there could be an option like `force` so they don't have to take the extra step of deleting it. This is exactly what patch is for, to modify if.

[2015-10-27 21:40] stevemao commented on #5
I thought about this. But it's hard so I created [github-remove-all-releases](https://github.com/stevemao/github-remove-all-releases). I believe making this module minimum is easier for me.

[2015-12-23 22:18] #5 closed

[2016-01-08 05:13] brianpeiris opened #6 "Fails silently if package.json does not have a repository"

[2016-01-28 23:49] psyrendust opened #7 "Error: No tags found"
I keep getting `Error: No tags found` when running `conventional-github-releaser -p angular`

I can echo my env var `$CONVENTIONAL_GITHUB_RELEASER_TOKEN`.

I created a test repo to test things out:

[code]

I have a few tags, a develop and master branch. I've checked the access permissions of my personal access token and everything is fine there.

I just globally installed version 1.1.1 of `git-se

[2016-01-28 23:50] psyrendust commented on #7
I just tested out version 1.0.0 of `git-semver-tags` and I was able to output my tags.

[2016-01-29 00:04] stevemao commented on #7
It should probably say no semver tags found?

[2016-01-29 00:19] psyrendust commented on #7
That's not the case. Turns out that the change in `git-semver-tags` is the issue:
https://github.com/stevemao/git-semver-tags/compare/83427ed...b4a7b5e#diff-168726dbe96b3ce427e7fedce31bb0bcL5

`git log --decorate` returns ansi characters from colored output in terminal. The regex to grab the tag still works, but `semver.valid()` fails because of the extra ansi characters: https://github.com/stevem

[2016-01-29 00:21] psyrendust commented on #7
So at this point, you can add `strip-ansi` to `get-semver-tags` like so to make it work:

[code]

[2016-01-29 00:21] psyrendust commented on #7
If you want I can submit a pull request to get-semver-tags with that change.

[2016-01-29 00:22] stevemao commented on #7
@psyrendust The tests in that repo passed. Can you investigate why? PR with tests welcome :)

[2016-01-29 00:23] psyrendust commented on #7
do you have colored output when doing `git log`

[2016-01-29 00:23] stevemao commented on #7
yes (i'm on a windows now).

[2016-01-29 00:31] psyrendust commented on #7
Just curious, what was the reason for the switch from:

[code]

to this:

[code]

[2016-01-29 00:42] stevemao commented on #7
see the added tests. it failed in some edge cases.

[2016-01-29 00:45] psyrendust commented on #7
running the tests on my machine fails. I'll fix and submit a pull request on that repo.

[code]

[2016-01-29 00:58] stevemao commented on #7
https://github.com/stevemao/git-semver-tags/issues/4

[2016-01-29 00:59] stevemao opened #8 "'No tags found' Should say "No semver tags found"?"

[2016-01-29 05:30] stevemao commented on #6
Do you specify your repo manually?

[2016-01-29 19:15] psyrendust commented on #6
@brianpeiris Could you post a copy of your package.json?

[2016-01-29 19:19] psyrendust commented on #7
@stevemao Could we leave this open until stevemao/git-semver-tags/pull/5 has been merged?

[2016-01-29 20:19] brianpeiris commented on #6
@stevemao Nope, never tried specifying it manually. I just ended up adding the field and it's fine now. @psyrendust: https://github.com/AltspaceVR/AltspaceSDK/blob/db424b082afcd60ab030886f370e064cb5b1decd/package.json

[2016-01-30 02:59] stevemao commented on #7
Its merged.

[2016-01-30 03:39] #8 closed

[2016-01-30 03:49] #6 closed

[2016-02-05 14:12] stevemao opened #9 "without `-r 0` it doesn't work properly"

[2016-02-06 13:38] stevemao commented on #9
fixed in `conventional-changelog-writer`

[2016-02-06 13:38] #9 closed

[2016-02-19 08:38] oivva opened #10 "It doesn't add release notes after the latest update"
**OS**: Windows
**Node**: v5.5.0
**npm**: v3.7.3
**conventional-github-releaser**: v1.1.0

I tried to remove and install all packages, update node, but the issue wasn't fixed. Then I installed _github-remove-all-releases_, removed all releases and tried to regenerate releases again with option `releaseCount: 0`. But nothing happened.

My gulp task:

[code]

Token is valid.

It worked like a charm

[2016-02-19 11:00] stevemao commented on #10
Do you have a sample repo that I can replicate the problem? Your config looks like a simple use-case and all the tests passed.

[2016-02-19 12:28] oivva commented on #10
**Sample repo**: https://github.com/oivva/cgr
This repo is the simplified "copy" of my original repo: https://github.com/oivva/otto

But another mystic is here. After running:

[code]

run:

[code]

And the result is only a couple of latest releases have release notes, but previous - haven't.

[2016-02-19 13:08] stevemao commented on #10
probably the problem? Can you check if it works on a Mac or linux?

[2016-02-19 13:09] stevemao commented on #10
Also can you run all the tests of this module and all submodules? We don't have a Windows CI and I'm not on Windows (PR welcome to add them).

[2016-02-19 15:17] oivva commented on #10
I think that it's not OS related issue, because it worked on Windows. Tried the same steps in Ubuntu.

[code]

Also, version 0.5.3 works as expected.

[2016-02-23 05:05] hbetts opened #11 "Support GitHub Enterprise Edition"
Looking through the source code, it seems that I cannot pass a `host` value to the `node-github` constructor to specify a GitHub Enterprise host.

[2016-02-23 06:18] stevemao commented on #11
I have no idea about Enterprise Edition :(

PR welcome

[2016-02-25 04:02] hbetts commented on #11
@stevemao an example of configuring `node-github` with a custom GitHub end-point (required for interfacing with a GitHub Enterprise Edition instance), can see seen in their [Readme Example](https://github.com/mikedeboer/node-github#example).

However, I'm not entirely sure how to pass that information into the module exported by this package. Your module takes an `auth` object as the first argumen

[2016-02-25 04:34] stevemao commented on #11
@hbetts I have no idea :( as long as there are tests to support the changes I'm fine.

[2016-04-07 17:21] thiagofelix commented on #11
Hi @hbetts  @stevemao
Is there any decision regarding how we expose GitHub EE params?

Would it be ok to add more a couple of params to node-github?
- github-version ( default '3.0.0' )
- github-address ( default https://github.com )
- github-path-prefix ( default '/api/v3' )

Or perhaps even make it that every github-* prefixed param is automatically send to node-githu?

Thanks.

[2016-04-08 23:52] stevemao opened #14 "docs about test."
`TEST_CONVENTIONAL_GITHUB_RELEASER_TOKEN` is hashed by travis.

[2016-04-09 04:01] stevemao commented on #14
https://github.com/conventional-changelog/conventional-github-releaser/pull/13#issuecomment-207433169 Thanks @thiagofelix for bringing this up

[2016-04-09 06:39] stevemao commented on #10
I can't replicate it with my fork: https://github.com/stevemao/otto

[code]

[2016-04-09 06:52] oivva commented on #10
This is because I use:

[code]

[2016-04-09 06:56] stevemao commented on #10
Can you try the latest version?

[2016-04-20 11:29] apinnecke opened #15 "CLI is exiting with status 1 when no releases are found"
Hi,

having a problem with this cli command.

When there are releases that can be generated, everything is fine. but if none are returned from the module, the cli is exiting with exit code 1 in [here](https://github.com/conventional-changelog/conventional-github-releaser/blob/master/cli.js#L108). There need to be a check for an empty array that exits with code 0.

Gonna open a PR for that in a few

[2016-05-10 03:28] hbetts commented on #14
Not sure if this is related, but how do I run `npm test` locally?

I get `OAuth2 authentication requires a token or key & secret to be set`. What token is it talking about?

Can the tests run offline (so I don't need to have internet access, or risk breaking something on GitHub.

[2016-05-10 04:32] stevemao commented on #14
No, this is actually not unit test.

[2016-05-10 04:37] stevemao commented on #14
@hbetts But if you want to break the tests down into unit and e2e, by all means :)

[2016-05-21 04:23] hbetts opened #17 "Offline Unit and Integration Tests"
I apologize for spamming #14

So I believe my issue was a result of the unit tests operating under the assumption that I have access to a repository called `stevemaotest/conventional-github-releaser-test`.

It's actually impossible to verify any changes I make locally.

Therefore I wanted to propose extending the testing suite with offline unit and integration tests.

For unit testing we could use

[2016-05-21 04:25] stevemao commented on #17
I haven't used those two modules but if you come up with something go for it 😄

[2016-06-07 00:17] oivva commented on #10
Just tried. It works. Thanks :wink:

[2016-06-07 00:17] #10 closed

[2016-06-26 10:37] stevemao opened #20 "minor problem with template"
https://github.com/conventional-changelog/git-raw-commits/releases/tag/v1.1.1
there is a whitespace missing `signs(005b559)`
https://github.com/conventional-changelog/git-raw-commits/blob/master/CHANGELOG.md
But it's correct with conventional-changelog

[2016-07-06 03:20] hbetts commented on #11
I this this issue has been resolved.

[2016-07-06 04:52] stevemao commented on #17
@hbetts Why is this closed?

[2016-07-14 02:49] hbetts commented on #17
@stevemao I closed it as I'm unlikely to have the time to develop an offline unit test setup for the `conventional-*-releaser` projects.

If you would prefer that this issue be kept open in case someone else is able or willing to take on the task, I can re-open the issue.

[2016-07-28 09:20] tlimpanont opened #21 "Not compatible with git-flow tagging"
It seems like when working with git-flow and the way git flow tags the commits, the release doesn't seems to work.

Tagging manually works fine!

It's there a different the way git-flow tags and manual tag?

[2016-07-28 10:47] stevemao commented on #21
So you are not tagging on the branch you are releasing from?

[2016-07-28 12:20] tlimpanont commented on #21
So to answer your question `So you are not tagging on the branch you are releasing from?`

git flow release finish tag it on the `master` branch

[2016-07-28 12:51] stevemao commented on #21
You can change the settings in git-raw-commits to get the commits you want.

[2016-07-28 12:55] stevemao commented on #21
@bcoe @nexdrew incase you guys have better idea?

[2016-07-28 13:50] nexdrew commented on #21
@tlimpanont Are you running `conventional-github-releaser` from the `develop` branch or from the `master` branch?

[2016-07-28 17:17] tlimpanont commented on #21
`master`

[2016-07-29 00:37] nexdrew commented on #21
Hmm, sounds like a bug to me, since the tag commit should exist on the master branch history. I think we need to dig deeper to find where it's going wrong.

[2016-07-29 02:00] stevemao commented on #21
So the tag is on the master branch?

After debugging (using `-v` flag), I found out that

[code]

You are tagging on the merge commit. By default we don't include merge commits. You can either tag on non merge commits or change your config to include merge commits:

[code]

[2016-07-29 02:00] #21 closed

[2016-07-30 20:53] tlimpanont commented on #21
Check! Indeed that's what I found out recently tagging on the commit branch. Thanks guys!

[2016-07-30 21:05] tlimpanont commented on #21
Can you me example code how to enable including merge commits?

[2016-08-02 10:50] tlimpanont opened #22 "Including tag on a merge commit"
Please show me a way to include a tag on a merge commit. How do I do that with gitRawCommit.opts?

[2016-08-02 11:10] stevemao commented on #22
https://github.com/conventional-changelog/conventional-changelog-ember/blob/master/index.js#L61

[2016-08-02 11:10] #22 closed

[2016-08-02 16:54] dignifiedquire opened #23 "Review and edit before release"
Sometimes when I use this tool I have the need to adjust the changelog manually to fix some things or add things not captured in the git log. I usually use `conventional-changelog` to update a `CHANGELOG.md` file and afterward this tool to additionally update the releases page. Now currently I have to make those edits twice, once to `CHANGELOG.md` and then again on the release page because the git

[2016-08-02 23:21] stevemao commented on #23
I'm not sure TBH, I was also thinking maybe we could allow user to open an editor before posting on GitHub.

[2016-08-10 04:04] hbetts commented on #22
I actually ran into this issue myself on Monday while using `semantic-release-gitlab`.

Because the last commit will always be a merge commit (it's the default configuration for new GitLab projects), and because `semantic-release-gitlab` always creates the tag on the last commit, its the merge commit that contains the tag.

A very simple repository (Using a standard `git merge branch/name --no-ff`

[2016-08-10 04:32] hbetts commented on #22
This is the change I eventually made to `conventional-gitlab-releaser`: https://gitlab.com/hutson/conventional-gitlab-releaser/compare/c0e50b1a7b18410323961b0badc11af8ea8119a9...master

[2016-08-10 07:04] stevemao commented on #22
It bit me too. I'm fine to make that change.

[2016-08-11 09:35] tlimpanont commented on #22
@hbetts ahh very nice, thanks guys!

[2016-10-08 23:02] hbetts opened #25 "Generating Changelog When Multiple Tags Available"
For the past month I've been looking into an issue that was filed against [semantic-release-gitlab-notifier](https://www.npmjs.com/package/semantic-release-gitlab-notifier) by @bahmutov - https://gitlab.com/hutson/semantic-release-gitlab-notifier/issues/1

@bahmutov describes a workflow where `semantic-release-gitlab` (the tool he uses for generating new releases for a GitLab-based project) is inv

[2016-10-09 00:27] stevemao commented on #25
Hi @hbetts , I have sent you an invite to the team. Let me know if you need any help.

[2016-10-10 02:40] hbetts commented on #25
Thank you @stevemao. I was able to get setup quite easily.

[2016-10-30 14:33] BioPhoton opened #30 "Restructure scss"
- [ ] create scss folder
- [ ] create _variables.scss file and move all scss var into this file
- [ ] import new file in main file
- [ ] adopt webpack config for new structure

[2016-10-30 14:42] BioPhoton commented on #30
ups, wron repo! :-D

[2016-10-30 14:42] #30 closed

[2016-11-28 16:08] adam-26 opened #31 "Validate package.json repository url"
Hi,

I was recently configuring conventional-github-releaser and it appeared to working, but no release messages were being written to github (but the tags were being created). After a while I realized this was because the wrong repository URL was set in package.json (Another repo i have access to was where the release messages were being written to).

If the repository URL configured in package.j

[2016-12-01 04:12] hbetts commented on #31
Howdy @adam-26. Thank you for filing your suggestion.

Personally, I wouldn't want to invest to much in implementing this kind of enhancement since, as you hinted at, it's an issue that can arise in pretty much any project, not just when using `conventional-github-releaser`.

However, I can definitely see the frustration in having this tool _work_, but not in the desired manner, leaving you with t

[2016-12-20 22:26] ajsb85 opened #35 "Error Not Found"
[code]

[2016-12-23 16:11] Tapppi commented on #31
@hbetts I happened to stumble across here, and yes, there are use cases for having different remotes and `package.json` `repository` fields. One of them is having a private fork (in e.g. github enterprise) of an open source project a company contributes to, thus having the private repository as your primary remote, but the open source repository configured in the `package.json`. I know many big co

[2017-01-01 03:56] hbetts commented on #31
Thank you @Tapppi for the detailed explanation you provided for some corporate workflows. It helps to keep me informed on how individuals, teams, and companies use, or may use, tools like `conventional-github-releaser` and `conventional-gitlab-releaser`.

@Tapppi you say that we shouldn't presume too much about github remotes (I assume that means git remotes in general). Therefore, I assume switch

[2017-01-01 04:16] hbetts commented on #35
@ajsb85 I'm not as familiar with that GitHub error message.

It's not specific to `conventional-github-releaser`.

From what I could find on the internet, it could be caused by one of several things; including invalid auth token, or invalid repository URL.

[2017-01-01 17:47] Tapppi commented on #31
Yeah @hbetts I meant git remotes in general. I don't think this is easily solvable, I don't really see `git remote origin` being much better than the package.json repo field and it would be a breaking change.

Optimally I think the package.json field should stay as the default and it should throw if the remote and repo field differ. You would need to be able to disable it though. The repo could be

[2017-01-18 14:59] ajsb85 commented on #35
Hi @hbetts

Yes, it's an invalid token.
We should handle this type of error.

Thank you.

[2017-01-18 14:59] #35 closed

[2017-01-23 02:23] hbetts commented on #25
Closed by #34

[2017-01-23 02:23] #25 closed

[2017-01-24 15:59] the-smaug opened #38 "Problem when i use the angular config file"
When I use the -n flag with the angular config file my release messages it doesn't work.
My commits are not format

I don't use the -p flag because I want to custom the angular file.

and i got a template dir with angular templates

[2017-01-26 03:35] hbetts commented on #38
@the-smaug, can you please re-run `conventional-github-releaser`, but include the `--verbose` flag.

That should print out information about what `conventional-changelog` is doing.

Hopefully that flag, along with calls to `console.log` in your configuration file, will help you to determine whether you configuration is used by `conventional-changelog`, or not.

[2017-02-12 17:56] JaKXz commented on #31
So I just ran into this issue, and used the `--verbose` flag to debug and find out that I was essentially getting a 302 status from the `node-github` callback.

Would it make sense to just print the status out to the console? That way there's some feedback.

I would go a step further and say any non-200 status should print to `stderr`. Thoughts?

[2017-05-17 05:04] tomdavidson opened #41 "git submodules"
Should checked out submodules be included in the release?

[2017-05-17 13:28] stevemao commented on #41
monorepo probably works better for you? See

https://github.com/lerna/lerna#--conventional-commits

[2017-05-17 16:37] tomdavidson commented on #41
Thanks but not quite. It is not a mono repo just needs a git submodule to be complete. I see that isn't normal for GitHub but was hoping for undocumented config options. May need to rethink the submodule or make the release with a custom script.

[2017-05-17 23:24] stevemao commented on #41
I don't know how it works with submodules. How you'd group commits between the modules? You could make a release in the submodule and in your main repo your related commits can reference it?

There are a few alternatives to submodules. One of them and probably works the best in most cases is monorepo. I was wondering if you could switch to that.

[2017-05-18 02:45] hbetts commented on #41
Also, just a side note, but depending on the need to support submodules, it may be more appropriate to move this discussion to `conventional-changelog` since `conventional-github-releaser` does nothing more than get a changelog, generated by `conventional-changelog`, and posts it to a GitHub Release page.

[2017-05-18 03:21] tomdavidson commented on #41
Ah I see a misunderstanding. In this issue I'm looking for the submodule being included in the release assets not anything to do with gathering the submodule commit messages. It [looks like the lib does not create its own archive](https://github.com/conventional-changelog/conventional-github-releaser/blob/master/index.js#L84) .

Any thoughts on tar/zip the cwd and posting that asset - this would i

[2017-05-18 11:02] stevemao commented on #41
I don't use the downloads on github releases. It might be a feature for github to concern. I'd still use monorepo in this case so that all the source code is available on github releases.
I also suggest you to use npm to manage the dependencies instead of submodules if they are not highly coupled.

[2017-05-18 14:09] hbetts commented on #41
@tomdavidson thank you for the clarification. We were definitely on different pages. :smile:

You are entirely correct in your statement; `conventional-github-releaser` does not post archive files to a GitHub release page.

`conventional-github-releaser` _could_ publish archive files to a release, but we would need to determine what the user actually wants to archive.

For example, since I use thi

[2017-05-18 21:51] tomdavidson commented on #41
My itch would be scratch with the archive that npm publish gives.

But sometimes one will not want to publish deployables despite wanting a github release (on a private repo). So could you use npm publish but still respect (package.json).private ?

[2017-05-18 23:16] stevemao commented on #41
@tomdavidson You might want to look at [private npm repository](https://docs.npmjs.com/private-modules/intro).

[2017-05-19 02:56] stevemao commented on #41
@hbetts I think pushing artifacts is a very good idea. I just don't know how much demand we have for it.

[2017-05-19 14:00] hbetts commented on #41
This is the first case I have seen related to a `conventional-changelog` project, though I do use quite a few projects that publish their build artifacts through GitHub, so perhaps there is an undercurrent within the software community that could use such a feature from `conventional-github-releaser`.

My suggestion would be to package the publishing functionality as a separate tool that can be ca

[2017-05-27 19:09] #15 closed

[2017-05-28 18:47] tinesoft opened #42 "Error: Cannot find module './lib/transform' starting from v1.1.4"
Hi,

Thanks for this great tool!

The last two releases (`v1.1.4` and `v1.1.5`) give me this error (works fine with `v1.1.3`) when running a gulp task:

[code]

Any idea?

[2017-05-28 19:34] hbetts commented on #42
Howdy Tine,

The error you're encountering is entirely my fault. I had not checked the
'files' property of 'package.json', which does not include the 'lib'
folder, so the transform file is not getting published.

This afternoon, when I gave access to a computer, I'll submit a fix to
publish the 'lib' directory.

On May 28, 2017 1:47 PM, "Tine Kondo" <notifications@github.com> wrote:

Hi,

Thanks f

[2017-05-28 19:36] tinesoft commented on #42
Hi @hbetts,

No problemo,
Keep up the good work!

[2017-05-29 02:57] hbetts commented on #42
So I corrected the `files` property of `packages.json` to correctly publish the `lib/` directory.

Using `npm pack` I was able to confirm this fix.

However, during my testing I came across another bug that prevented `conventional-github-releaser` from working correctly. At one point our dependency on the `github` package was upgraded, but not our use of it's API. Then we downgraded that dependenc

[2017-05-29 02:57] #42 closed

[2017-05-29 04:05] tinesoft commented on #42
I can confirm it works great again.
Thanks for the explanation and the promptness!

[2017-05-29 14:39] hbetts commented on #38
@the-smaug I'm closing out this issue for now, but if you have the time to help us pursue the issue, I can reopen it.

[2017-05-29 14:39] #38 closed

[2017-05-31 21:19] deimyts opened #44 "CLI default options now removing tag prefixes"
I'm using a `v` prefix for my version tags (`v1.0.0`), and
I'm using `conventional-github-releaser` from the CLI.

After tagging the repo, I run the following commands:
`git push --follow-tags origin master`
`conventional-github-releaser -t $GITHUB_TOKEN -p angular`

If my tag is `v1.0.1`, instead of creating the release on that tag, `conventional-github-releaser` is adding a new tag to my remote

[2017-06-01 04:26] egoldblum commented on #44
I have the exact same workflow and the exact same issue.

It appears that this project's own releases also went from havinga  `v` prefix to not having one between `v1.1.7` and `1.1.8`.

https://github.com/conventional-changelog/conventional-github-releaser/releases

[2017-06-01 09:04] fergiemcdowall commented on #44
+1

[2017-06-01 09:16] fergiemcdowall commented on #44
Can confirm: works as expected on `1.1.3`. On all subsequent versions, "v"-prefixes are mysteriously stripped away.

[2017-06-01 14:28] hbetts commented on #44
I'm pretty sure the missing `v` is a result of [this change](https://github.com/conventional-changelog/conventional-github-releaser/commit/b92b06463cff161ae54c1df99b22774703303c7d).

That change switched to using `find-versions`, which strips the leading `v`.

I'll continue looking into the issue later, but in the meantime does anyone have any suggestion for a package that can extract semantic val

[2017-06-02 02:52] #44 closed

[2017-06-02 02:59] hbetts commented on #44
I've published version [v1.1.10](https://github.com/conventional-changelog/conventional-github-releaser/releases/tag/v1.1.10) which contains a fix to the `transform` function.

The `transform` function will no longer remove the leading `v` in a tag.

Full details available in the commit message - 1b6a68cf433fe90836aa1ed3b2961d39dd035732

I've also added additional unit tests to check for the desir

[2017-06-02 14:33] neoziro opened #45 "Not compatible with node 7.0 and node 8.0??"
In package.json, I can read it:

[code]

I am using node v8.0.0, I have the following error:

[code]

Can you remove engines section from package.json?

[2017-06-03 17:07] #45 closed

[2017-06-03 17:12] hbetts commented on #45
@neoziro thank you for reporting the issue.

May I assume you're using the Yarn package manager?

I've seen this exact issue from others, including myself, given that I also use `yarn`, since Yarn treats incompatible node versions as a hard failure instead of a warning.

There's a discussion on the Yarn GitHub project regarding that behavior - https://github.com/yarnpkg/yarn/issues/1102

A workaro

[2017-06-03 17:40] tinesoft commented on #45
Was about to report that issue as well, thanks @hbetts  for the promtness and detailed explanation!

[2017-06-03 17:42] hbetts commented on #45
Version `1.1.11` has been published.

(At some point I'll set this project up with `semantic-release` so that fixes go out just a tad bit faster)

[2017-06-03 21:05] neoziro commented on #45
@hbetts thank you for the fix

[2017-06-07 20:03] marr commented on #7
I was getting the `no semver tags` found error due to my customization of log format. I had to comment out my `[format]` section of _.gitconfig_ to get this tool to work.
Maybe consider getting the tag list a different way, or manually specifying the log format before trying to parse it.

[2017-07-05 06:02] fergiemcdowall opened #46 "Error when publishing a release to github"
For some reason I started getting this error when publishing to GitHub, although it _seems_ as though the actual release works fine:

[code]

[2017-07-06 14:42] fergiemcdowall commented on #46
@1.1.10 works fine- this problem appeared in @1.1.11

[2017-07-14 03:18] hbetts commented on #46
@fergiemcdowall, I looked through out changes between version `1.1.10` and `1.1.11`, of which there were three, and [all three](https://github.com/conventional-changelog/conventional-github-releaser/compare/01481d7e977d76d484ec95179dfaa849593616ed...9a18c37c5a35993c0669e535722692a88dcf451c) touch either our CI setup, or relax our Node requirements.

Can you please confirm you're using version 1.1.

[2017-08-03 17:57] zackarychapple commented on #46
I got this error on 1.1.12.

[2017-08-03 19:42] fergiemcdowall commented on #46
Yes, actually it seems like the problem appeared in 1.1.12 for me too

[2017-08-04 03:37] hbetts commented on #46
Version 1.1.12 was released with the following commit (7c1e4d9) that introduced a fix to cause `conventional-github-releaser` to fail if, and only if, one or more POST requests to GitHub failed (400 or 500 errors).

I can't tell if that's actually what's happening based on the example output in the initial comment. I see a 201 response code, but my assumption is that `github.releases.createRelease

[2017-09-01 16:06] danez commented on #46
I have the same issue, it seems that this check is failing: https://github.com/conventional-changelog/conventional-github-releaser/blob/master/src/cli.js#L120-L129
The state property does not exist when using `Q.all` and only works with `Q.allSettled`.

I create a PR.

[2017-10-05 01:38] ajsb85 opened #48 "Running on CI/CD"
Dear @stevemao

We have an issue with Travis CI / Circle CI.
Always error when the command success.

We solve it with these args:

`conventional-github-releaser -p angular -t $GH_TOKEN -r 0 2> /dev/null || true`

Best regards.

[2017-10-30 16:11] hbetts commented on #48
@ajsb85 could you please provide the output of `conventional-github-releaser`?

I believe the error may be caused by this change that I introduced - https://github.com/conventional-changelog/conventional-github-releaser/commit/7c1e4d911a4d793bb7d7489d55084704795ac24c

It technically fixes another bug by correctly failing when requests to GitHub fail, but I did not correctly update the CLI to handl

[2017-10-30 16:44] #46 closed

[2017-10-30 17:28] hbetts commented on #46
Thanks to a bug fix submitted by @danez, version [v1.1.13](https://github.com/conventional-changelog/conventional-github-releaser/releases/tag/v1.1.13) has been released to address this issue.

[2017-10-30 17:28] hbetts commented on #48
Thanks to a bug fix submitted by @danez, version [v1.1.13](https://github.com/conventional-changelog/conventional-github-releaser/releases/tag/v1.1.13) has been released to address this issue.

[2017-10-30 17:28] #48 closed

[2017-10-30 17:35] hbetts commented on #41
Closing this issue out.

@tomdavidson please feel free to open an issue on [conventional-changelog](https://github.com/conventional-changelog/conventional-changelog) and the `conventional-changelog` team can consider building out a tool that can upload the results of `npm pack` to an existing GitHub release page.

[2017-10-30 17:35] #41 closed

[2017-11-01 15:07] hbetts commented on #11
It turns out Enterprise support was not available from the CLI, even though users could connect to a GitHub Enterprise instance using the API.

Re-opening so that we can properly close the issue with pull request #49

[2017-11-01 15:09] #11 closed

[2017-11-14 11:45] picosam commented on #46
Hello, is this related?
→ conventional-github-releaser --version
2.0.0
[code]

[2017-11-14 16:35] hbetts commented on #46
@picosam I can't really tell from the output.

Can you please file a new issue, and let's work through debugging the issue?

[2017-11-20 16:10] picosam opened #50 "GitHubError: Validation Failed (422)"
Hello, I'm getting the following error when running `conventional-github-releaser -p angular`

[code]
Here's the log file in question:

[code]

[2017-11-21 16:58] picosam commented on #50
By the way, when I run `echo $CONVENTIONAL_GITHUB_RELEASER_TOKEN` from my command line I get my GitHub token correctly!

[2018-01-23 10:47] azu opened #52 "lerna support"
[conventional-changelog](https://github.com/conventional-changelog/conventional-changelog "conventional-changelog") have supported lerna-style package.

- [make conventional-changelog play nicely with lerna · Issue #168 · conventional-changelog/conventional-changelog](https://github.com/conventional-changelog/conventional-changelog/issues/168 "make conventional-changelog play nicely with lerna · I

[2018-01-24 03:19] hbetts commented on #50
@picosam can you please provide us a set of steps to reproduce the error? (Some way for us to set up a similar project and environment)

[2018-01-24 03:21] hbetts commented on #52
@azu that seems like a reasonable thing to expect in `conventional-github-releaser`.

Since I don't see myself having time to work on this feature, would you be willing, and able, to submit a pull request to implement `--lerna`?

[2018-03-20 13:13] hbetts opened #55 "Support tags prefixed with 'v'"
Re-posting the following enhancement suggestion from the previous GitLab project for `conventional-gitlab-releaser`:

---

Alexander Kachkaev `@kachkaev`:

At the moment tagname [is hardcoded](https://gitlab.com/hyper-expanse/conventional-gitlab-releaser/blob/master/index.js#L79) to have a format of `D.D.D`. It would be nice if users could also release `vD.D.D` (e.g. [like GitLab does this itself]

[2018-03-20 13:15] hbetts opened #56 "Transform function for the release title"
Re-posting the following enhancement suggestion from the previous GitLab project for `conventional-gitlab-releaser`:

---

Alexander Kachkaev `@kachkaev`:

It would be nice if there was some transform function for the message field, which currently defaults to `Release x.x.x`. Someone may want to see smth like `Release x.x.x (YYYY-MM-DD)`, for instance.

---

Me:

I think this is a great idea! :sm

[2018-03-20 13:24] hbetts opened #57 "Tag creation vs Release"
Re-posting the following enhancement suggestion from the previous GitLab project for `conventional-gitlab-releaser`:

---

Posted by Marco Massarotto `@brokenmass`:

This project, at the moment, publish the change log by CREATING a new git tag (https://docs.gitlab.com/ce/api/tags.html#create-a-new-tag) with associated description.
This means that the tag has to exist locally but NOT on the remote

[2018-03-23 15:20] picosam opened #58 "Release notes created incorrectly"
Hello, is it normal that my releases lack proper formatting even though I'm correctly using Conventional Commit messages? See here please: https://github.com/coformatique/prisma-auth0-starter/releases

I'm using `conventional-github-releaser -p angular` as can be seen in my [package.json](https://github.com/coformatique/prisma-auth0-starter/blob/master/package.json#L14) file.

Thank you

[2018-03-24 16:44] picosam commented on #58
...and when I tried removing all releases and regenerating then again using `conventional-github-releaser -p angular -r 0` I only got the last release generated and still incorrectly :(

[2018-03-26 14:25] hbetts commented on #58
@picosam your release notes definitely look incorrect.

When looking through your `package.json` file I couldn't tell which version of `conventional-github-releaser` you are using. Could you provide that information please?

[2018-03-26 14:54] picosam commented on #58
[code]

[2018-03-27 15:06] hbetts commented on #58
@picosam I suspect this is because of the way we now load preset packages in `conventional-changelog` (We use a [preset loader](https://github.com/conventional-changelog/conventional-changelog/blob/1cc079df803f58b52c8aa997fff43e9c162266e7/packages/conventional-changelog-preset-loader/index.js)). Can you please add `conventional-changelog-angular` as a development dependency of your package, and tr

[2018-03-27 19:30] picosam commented on #58
That didn't do it unfortunately. I ran the following commands:
[code]
The I committed and pushed and ran `yarn release` followed by `git push --follow-tags origin master`. That allowed `standard-version` to correctly generate the CHANGELOG.md file. Finally I ran `conventional-github-releaser -p angular -r 0` to generate all releases, and as you can see it didn't generate the final release correctl

[2018-04-05 10:42] carlosvillademor opened #63 "Upgrade to meow ^4.0.0 breaks commands using the aliases"
Hi there,

when upgrading to meow ^4.0.0 on commit 8f120c99753bd6002e0788b5c71e63864719d6a5, the usage of the aliases on conventional-github-releaseer got broken. We have to use --token instead of -t, or --config instead of -n.

The release notes of https://github.com/sindresorhus/meow/releases warn on the way minimist options need to be passed for version ^4.0.0.

I have created https://github.co

[2018-04-07 16:41] hbetts commented on #63
Thank you @carlosvillademor for submitting a pull request to fix the broken CLI tool.

That would be because I originally refactored this mono-repository using Yarn, only to switch to `npm` when I couldn't get `yarn` to work with Lerna. I need to submit a change to the `CONTRIBUTING.md` file to fix the documentation.

Looks like we need to update the unit test so that it uses the same date object,

[2018-04-29 00:28] xcv58 opened #67 "GitHubError: Not Found (404)"
I tried in different repo, always get this error.

[code]

[2018-05-11 21:14] derekgreer opened #68 "Templating Documentation"
I've just stumbled upon conventional-github-releaser, having used standard-version for awhile and searching for a way to customize how the CHANGELOG.md is generated.  It appears that the templating system may be provided by the underlying conventional-changelog tool, but I can't seem to find any documentation at any level of these tools which actually walks you through how to create a custom templ

[2018-05-17 11:48] picosam commented on #58
Hello, any news about this?

[2018-05-17 19:43] lmachens commented on #58
@hbetts I had the same issue. `npm i --save-dev conventional-changelog-angular` did the trick for me. thx!

[2018-05-28 12:50] gmeans commented on #58
Adding `conventional-changelog-angular` as a dev dependency did not resolve this on my end.

[2018-05-31 15:21] hbetts commented on #67
@xcv58 as @E-Mell noted, GitHub returns a 404 error, regardless of whether the URL is incorrect, or a valid access token was not provided.

I've released version 3.1.0 of `conventional-github-releaser`, which now [contains a feature that allows you to turn on debug output](https://github.com/conventional-changelog/releaser-tools/tree/master/packages/conventional-github-releaser#debugging).

Please

[2018-05-31 15:21] #67 closed

[2018-06-06 08:35] lmachens commented on #58
In a different project I faced this issue again.
Looks like the cli version is not working correctly.

A simple node script works fine:

github-release.js
[code]

call with `node github-release.js`.

[2018-06-06 14:11] hbetts commented on #58
@picosam, can you please try the CLI using `--preset` instead of `-p`, and `--releaseCount` instead of `-r`?

(I suspect there may be an issue with our use of our command line flag library that's preventing it from interpreting the short form of the command line arguments.)

[2018-06-06 14:40] #63 closed

[2018-06-06 14:53] hbetts commented on #58
Turns out this issue was reported in #63.

A fix has been accepted.

Successfully published:
 - conventional-github-releaser@3.1.1
 - conventional-gitlab-releaser@3.1.1

[2018-06-06 14:53] #58 closed

[2018-06-06 14:54] hbetts commented on #63
@carlosvillademor I accepted your pull request and then added a commit to address the environment variable defaults we talked about.

Successfully published:
 - conventional-github-releaser@3.1.1
 - conventional-gitlab-releaser@3.1.1

[2018-06-06 14:57] hbetts commented on #68
That is the case. You can customize the data used by the templates, and you can just straight up replace templates with your own custom.

That is also correct. There is not, to my knowledge, any documentation explaining how to work with `context` and the `templates` settings to customize the `CHANGELOG` output.

[2018-06-07 12:57] gmeans opened #80 "v3.1.1 returns RequestError when posting release to GitHub"
After updating to 3.1.1 I receive the following error when attempting to run the releaser:

[code]

I assumed it was a string interpolation error missing the `/` at the end of the base URL. So I updated `CONVENTIONAL_GITHUB_URL` to be `https://api.github.com/`.

After updating the env var, I receive a `GithubError`:

[code]

However it looks like the release does actually POST to Github.

This pro

[2018-06-08 01:01] aaronjameslang commented on #80
+1

v1.3.0 works for now

[2018-06-08 01:03] aaronjameslang commented on #80
`GitHubError: Validation Failed (422)` looks like it might happen if you try to release an already released version?

[2018-06-08 02:44] hbetts commented on #80
The defaults for the `url` option were not set to their proper value in our code (In the case of GitHub, as @gmeans discovered, the trailing slash was missing).

I've released fixes for both release tools:

Successfully published:
 - conventional-github-releaser@3.1.2
 - conventional-gitlab-releaser@3.2.0

Going forward I'm going to just remove the defaults for the URL and rely on the underlying `

[2018-06-08 02:44] #80 closed

[2018-06-09 19:16] dhruvdutt opened #81 "Release notes/changelog for 3.0.0"
I can't find either changelog or release notes for major version bump.

[2018-06-14 02:15] chrisopedia commented on #50
I'm getting this as well.  Installed this locally rather than globally.  Ran the command as follows:

_names have been changed to protect the innocent_

[code]

[2018-07-05 18:01] AlecRust opened #93 "conventional-github-releaser 3.1.2 issue"
In `conventional-github-releaser` versions below 3.1.2 my `gulp release` script works correctly:

[code]

With version 3.1.2 though  I get:

[code]

[2018-07-31 10:08] phun-ky commented on #50
Experiencing the same issue. the token is set, checked with `echo $CONVENTIONAL_GITHUB_RELEASER_TOKEN`

[2018-10-05 16:33] talbright opened #133 "GitHubError: Validation Failed (422)"
Any hints as to why this is failing?

[code]

[2018-12-17 11:40] dortzur commented on #50
any updates?

[2018-12-17 11:54] dortzur commented on #133
I believe this happens when you already have a release available for that semver version. Updating the semver version in `package.json` worked for me.

[2018-12-17 11:55] dortzur commented on #50
I believe this happens when you already have a release available for that semver version. Updating the semver version in `package.json` worked for me.

[2018-12-18 03:47] stevemao commented on #133
Looks like an issue with the same title ready opened. https://github.com/conventional-changelog/releaser-tools/issues/50

[2018-12-18 03:47] #133 closed

[2018-12-20 02:38] hutson commented on #50
I _think_ @dortzur is correct, but GitHub errors have, in my experience, been cryptic.

We have a `debug` option now - https://github.com/conventional-changelog/releaser-tools/tree/master/packages/conventional-github-releaser#debugging

@picosam @iamnewton @CanRau can one of y'all please provide us the results of the debug output? (With any sensitive URL information removed)

[2019-01-22 09:07] martinmosegaard commented on #68
If you run the tool with verbose output, `conventional-github-releaser -v`, it should print the "final context", which may give an indication of the keys to put in there. The trick with the JavaScript file is to use module exports like they do in the example file given for the `--config-script` option.

I am able to specify values like this:

[code]

It would be great if the help text included a l

[2019-03-18 23:16] francoisromain commented on #50
I tried to regenerate all realeases on this repo: https://github.com/MTES-MCT/camino-flux/releases and I have the same error

the debug info:
[code]

[2019-05-10 15:37] samkelleher opened #151 "Allow overriding git-semver-tags."
It's not possible to use the releaser tool unless you tag exactly with semver tags because it consumes the `git-semver-tags` package directly.

This is the line:
https://github.com/conventional-changelog/releaser-tools/blob/master/packages/conventional-github-releaser/src/index.js#L50

For better or worse, I have a website project that doesn't use but an incremental counter, so v1, v2, v3, v4 and

[2019-05-26 03:49] hutson opened #155 "Use Release notes as Tag annotation"
Modify `conventional-gitlab-releaser` to assign the changelog/release notes to the `message` property so that the release notes are used as the tag annotation.

There's some interest within the GitLab community to store the changelog/release notes in the tag annotation - https://gitlab.com/gitlab-org/gitlab-ce/issues/20587

Code to change - https://github.com/conventional-changelog/releaser-tools/

[2019-05-28 02:25] hutson commented on #7
@marr I've filed your suggested against the `conventional-changelog` mono-repository - https://github.com/conventional-changelog/conventional-changelog/issues/470

If you are able, can you please provide your feedback on that issue?

[2019-05-28 02:25] #7 closed

[2019-05-28 02:30] hutson commented on #14
Closing in favor of #17

[2019-05-28 02:30] #14 closed

[2019-05-28 02:40] hutson commented on #151
@samkelleher, thank you for explaining your use case. I was able to confirm that the `semver` package used by `git-semver-tags` treats a tag, such as `v1`, as invalid:

[code]

Personally I don't have time to work on this particular feature, but I have marked the issue as `help wanted` in case someone is willing and able to invest the time in incorporating support for non-semver tags, such as `v1`

[2019-05-28 02:44] hutson commented on #93
@AlecRust thank you for reporting this issue.

@tinesoft thank you for diving into this issue and providing an explanation as to the cause.

I'm not sure when I'll have the time to address this issue in the GitHub releaser, so I've marked the issue as `help wanted` in hopes the community is able and willing to contribute a fix sooner.

[2019-06-09 22:23] samkelleher commented on #151
I've been working on this. Since non-semver suits my usecase, I'd preferable to use the package as is but pass in options.  I've had success with this, however, the changlog outputted contains duplicate headers, due to the non-configurable line below.

This line hardcodes semver detection and cannot be changed by passing in config options:
https://github.com/conventional-changelog/conventional-cha

[2019-08-08 05:41] wintercounter opened #163 "Why not using the generated changelog for the content of the GitHub release?"
It looks much prettier in the changelog. The release notes only have a mixed list of commit messages without any additional formatting.

[2019-08-21 09:36] wintercounter commented on #163
My bad. I'm running standard-version on my own, nor related to the releaser.

[2019-08-21 09:36] #163 closed

[2019-08-21 09:40] wintercounter opened #165 "Can I use custom content?"

[2019-08-26 09:21] jaszczw opened #167 "GithubReleaser - update core reference, preset passing."
In new version of the conventional-changelog there is a different approach to passing a preset option, it preset option has to be a `{name: string}` instead of `string`.

I have created PR with updated library reference and appropriate change in code to accomodate that without introducing a breaking change. For existing users of the library.

[2019-08-30 01:58] iamnewton opened #169 "ParseError: Unexpected end of JSON input"
Hey all,

Great tool! 🚀 I really appreciate and love all of the hard work you've all put into this project.  I've run into an issue that I can't seem to figure out and wondering if you can hopefully shine some light on it.

I'm using the latest version of Github Releaser and npm 10.15.1.  I'm running the following commands from our Jenkins server, adding releases to our GitHub Enterprise server (v

[2019-09-24 16:07] HugoPoi commented on #57
I hit this hard because when I have seen this :

### Recommended workflow
1. Make changes
1. Commit those changes
1. Make sure GitLab CI turns green
1. Bump version in package.json
1. Commit package.json files
1. Tag
1. Push
1. conventionalGitlabReleaser

Sounds really what I needed but for doing this workflow you need to tag for building the release in CI then publish my release in Gitlab with bu

[2020-01-08 10:18] edmundo096 commented on #57
Got into the same thing.
I was looking on the recommended workflow but the `releaser` won't work if a tag already exists on the source repo.

Also discovered (after some confusion) that there is a recommended [gist](https://gist.github.com/stevemao/280ef22ee861323993a0) on the `conventional-gitlab-releaser` [README](https://github.com/conventional-changelog/releaser-tools/tree/master/packages/conv

[2020-06-25 15:01] tylergets opened #184 "Minimist parsing error"
`/usr/local/lib/node_modules/conventional-github-releaser/node_modules/minimist-options/index.js:101
					throw new TypeError(`Expected "${key}" default value to be of type "${expectedType}", got ${prettyPrint(defaultType)}`);
					^

TypeError: Expected "verbose" default value to be of type "boolean", got "string"
    at /usr/local/lib/node_modules/conventional-github-releaser/node_modules/minimi

[2020-06-26 09:20] csakbalint commented on #184
We are having the same issue? Any new information about this?

[2020-06-26 09:31] csakbalint commented on #184
The [latest patch](https://www.npmjs.com/package/conventional-gitlab-releaser/v/4.0.2) (4.0.2) of [conventional-gitlab-releaser](https://github.com/conventional-changelog/releaser-tools) breaks the release process. I fixed the version to the previous one.

[2020-06-26 13:51] jimlindeman commented on #184
The specific error on this is in the usage help verbose definition in the src/cli.js:
[code]
should be
[code]

[2020-06-26 13:54] jimlindeman commented on #184
Please patch this asap, as those fetching latest of this package are broken and will have to hardlink to 3.1.3.

[2020-06-26 18:07] jimlindeman commented on #184
This is actually a long standing bug, but only exposed as a problem with the update to newer 'meow' package as part of
https://www.npmjs.com/package/conventional-gitlab-releaser/v/4.0.2 , which started type-checking the default value passed in.

[2020-06-26 18:27] jimlindeman commented on #184
PR for fix for this:
https://github.com/conventional-changelog/releaser-tools/pull/185

[2020-07-07 10:09] wintercounter opened #187 "Cannot pass token to npm script anymore"
This started to happen with the recent updates. Until now this was working fine:

[code]

But I started to get the following error:

[code]

[2020-07-22 12:27] cookiescrumbs commented on #187
I'm getting the same. I've locked to v3.1.3.

[2020-08-24 14:33] Hartorn commented on #187
We cannot even run in cli `conventional-github-releaser --help`, it breaks also with the same message

[2020-10-13 16:12] plasticrake opened #190 "Error from minimist-options: TypeError: Expected "token" default value to be of type "string", got "undefined""
See below for output when trying to run from fresh install.

May be related to #184.

[code]

[2020-10-21 06:54] tw0517tw commented on #190
seems a duplicate to #187
pending PR #189 should fix this

[2020-10-31 19:42] rand0mdev opened #191 "TypeError: Cannot read property 'replace' of undefined"
Hi,
I'm working on conventional-github-releaser 3.1.5, and i have the following error:

`TypeError: Cannot read property 'replace' of undefined at ghGot (/path/to/project/node_modules/gh-got/index.js:32:58)`

In my gulp configuration:
[code]
**Possible solution**
Update gh-got to ^9.0.0

[2020-11-26 09:33] thesmiley1 commented on #187
I'm not sure about previous behavior, but I was able to work around the issue by supplying a `CONVENTIONAL_GITLAB_RELEASER_TOKEN` environment variable, even just a dummy one to get the help working, e.g.:

`CONVENTIONAL_GITLAB_RELEASER_TOKEN=asdf conventional-gitlab-releaser --help`

Obviously there is still a bug, though: it shouldn't take a dummy token to print the help documentation.

[2021-01-25 19:23] carmanchris31 commented on #187
Updating https://github.com/conventional-changelog/releaser-tools/blob/master/packages/conventional-github-releaser/src/cli.js#L50 should fix this:

[code]

[2021-05-02 22:15] emptypockets-dev commented on #191
I have the same problem. Any luck with a solution?

[2021-05-05 07:44] adotland commented on #191
your opts object above is missing a value for the endpoint key

`{endpoint: 'https://api.github.com/'}`

When not passed in, gh-got will check for it in your .env file, but this will only work if you are using the dotenv npm package.

`env.GITHUB_ENDPOINT`

[2021-06-07 21:16] davidcunningham opened #203 "Question - Link to JIRA issues"
I apologize but looking through the documentation, I'm missing a connection somewhere (or if it's even possible). Right now I'm using standard-version to generate tags and changelog using JIRA as our issue tracker. This is for a monorepo that contains JS and non-JS components. Everything works great to add the links to the JIRA tickets on the commit. When I attempt to use `conventional-github-rele

[2021-06-10 06:06] hannojg opened #204 "GitLabError: Release notes modification via tags API is deprecated, see https://gitlab.com/gitlab-org/gitlab/-/issues/290311 (400)"
Just running:

[code]

as usual.

[2021-06-18 14:39] #204 closed

[2021-07-15 02:18] benkeil opened #209 "Format of release notes"
If there is a connection how the Changelog should look like, why does the release notes look different? Commit types that are set to `hidden: true` are shown.

[2021-07-27 11:44] shine1594 opened #210 "No semver tags found"
I'm using tagPrefix and I'm getting the following error: "Error: No semver tags found"

[code]

It seems that the tagPrefix option is not applied to 'git-semver-tags'.
https://github.com/conventional-changelog/releaser-tools/blob/3fc007be5ed0865a85bcb5c8842647d6efa81688/packages/conventional-github-releaser/src/index.js#L50

I'm not sure exactly what side effects it will have, but shouldn't it be

[2021-07-28 21:23] alexwine36 opened #211 "conventional-gitlab-releaser 500 internal server error"
Would it be possible to release the newest code for conventional gitlab releaser. The currently published package is throwing a 500 error because of the deprecation of the tags api endpoint.
The current codebase fixes the issue, however, the published npm version is still using the previous version.

[2021-07-29 00:15] jsakas commented on #190
Here is a workaround until someone gets around to merging that PR.

[code]

[2021-08-19 09:20] jimmywarting opened #212 "update conventional-changelog"
conventional-changelog@2.0.3 have a vulnerability. It could be fixed by updating the pkg

https://github.com/conventional-changelog/releaser-tools/blob/3fc007be5ed0865a85bcb5c8842647d6efa81688/packages/conventional-gitlab-releaser/package.json#L39

[2021-10-13 21:42] Kikobeats commented on #50
This is happening mainly if you try to create a release that already exists:

[code]

In that case, the library could fall back into update the release. There is an endpoint for doing that:
https://docs.github.com/en/rest/reference/repos#update-a-release

[2021-11-12 22:08] beatriz1304 commented on #210
I'm having the same issue here. It will be awesome to support tagPrefix

[2022-02-16 18:37] rr-jimmy-multani opened #218 "Lack of maintainers?"
It seems like this project has fallen by the wayside. I've noticed in some of my projects that there are some security vulnerabilities popping up from the package.

Any plans for releasing a new version with some dependency updates?

[2022-03-07 10:04] renovate[bot] opened #221 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency eslint to v8
 - [ ] chore(deps): update dependency eslint-config-standard to v16
 - [ ] chore(deps): updat

[2022-09-16 07:40] lvjiaxuan commented on #187
v3.1.5 still error.